<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", { title: "single" } ) %>
<body>
    <%- include("../partials/navbar") %>
   <p><%= hero.id %></p>
   <p><%= hero.name %></p>
   <p><%= hero.power %></p>
   <%- include("../partials/footer") %>
</body>
</html>